/ab 2d.py
/classwoerk.py
/example 3.py
/example 6.py
/example.py
/example2.py
/lab 1b.py
/lab 1c.py
/lab 1d.py
/lab 1e.py
/lab 2b.py
/lab 2c.py
/lab1a.py
/lab2.py
/lab2a.py
/pizzaparty.py
/printtoscreen.PY
/squarelist.py